<div class="col-md-3">
  <div class="thumbnail">
    <%= link_to book do %>
    <%= image_tag "http://placehold.it/600x600", class: "img-responsive" %>
    <% end %>
    <div class="caption">
      <h4><%= link_to book.name, book %></h4>
      <p>$<%= book.price.to_f / 100 %></p>
    </div>
  </div>
</div>